<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TempNote</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black min-h-screen py-4">
<h1 style="writing-mode: vertical-rl;" class="absolute text-green-300 text-5xl font-mono text-green-500 px-10 py-4">
    TempNote
</h1>

<div class="max-w-6xl mx-auto">
    <form>
                <textarea name="content" id="notepad"
                          class="w-full p-4 text-base bg-black resize-none focus:outline-none font-mono text-green-500 focus:border-green-300 cursor-green-500"
                          style="font-family: Consolas, monospace; overflow: auto; height: 45rem;"
                          placeholder="Ephemeral by design. Refresh = forget."></textarea>
    </form>
</div>
</body>
</html>